<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.android.carlosmartin.offimate">

    <application
        android:name=".application.OffiMate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.onboard.SignUpNameActivity" />
        <activity android:name=".activities.onboard.SignUpEmailActivity" />
        <activity android:name=".activities.onboard.SignUpOfficesActivity" />
        <activity android:name=".activities.onboard.SignUpPasswordActivity" />
        <activity android:name=".activities.onboard.LoginActivity" />
        <activity android:name=".activities.onboard.OnBoardActivity" />
        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.coworkers.CoworkerListActivity" />
        <activity android:name=".activities.coworkers.CoworkerProfileActivity" />
        <activity android:name=".activities.coworkers.SendBoostCard1Activity" />
        <activity android:name=".activities.coworkers.SendBoostCard2Activity" />
        <activity android:name=".activities.main.ChannelActivity" />
        <activity android:name=".activities.profile.BoostCardListActivity" />
        <activity android:name=".activities.profile.BoostCardActivity" />
        <activity android:name=".activities.profile.EditProfileActivity" />
        <activity android:name=".activities.main.NewChannelActivity"></activity>
    </application>

</manifest>